<!doctype html>
<html lang="en">
<head>
    {{#> header }}
    <title>{{ data.title }} | {{ siteData.baseTitle }}</title>
    <meta name="description" content="Information about item '{{ data.id }}' in the namespace '{{ data.namespace }}' by {{ data.developer }}.">

    <link rel="canonical" href="{{ siteData.baseURL }}/namespaces/{{ data.namespace }}/{{ data.id }}.html" />
    {{/header}}
</head>
<body>
<a href="{{ siteData.baseURL }}/namespaces/{{ data.namespace }}/index.html">Back</a>
{{#with data}}
    <ul>
        <li>ID: {{ id }}{{#if applicationId}} ({{ applicationId }}) {{/if}}</li>
        <li>Namespace: {{ namespace }}</li>
        <li>Title: {{ title }}</li>
        <li>Developer: {{ developer }} ({{ developerId }})</li>
        <li>Description: {{ description }}</li>
        <li>Categories: {{ categories }}</li>
        <li>Creation Date: {{> datetime creationDate }}</li>
        <li>Last Modified Date: {{> datetime lastModifiedDate }}</li>
    </ul>
{{#if keyImages}}
{{#each keyImages}}
    <img
        src="{{ url }}"
        width="{{ width }}"
        height="{{ height }}"
        alt="The image type, as returned by the API, is '{{ type }}'.">
{{/each}}
{{/if}}
{{/with}}
{{> footer }}
</body>
</html>
