<!doctype html>
<html lang="en">
{{> header }}
<body>

<nav>
    <a href="{{ siteData.baseURL }}/namespaces/{{ data.namespace }}/index.html">Back</a>
</nav>

{{#with data}}
    <main>
        <h1>{{ title }}</h1>

        <section>
            <h2>Details</h2>

            <table>
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Application ID</th>
                        <td>{{ applicationId }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Namespace</th>
                        <td>{{ namespace }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Developer</th>
                        <td>{{ developer }} ({{ developerId }})</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ description }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Categories</th>
                        <td>{{ categories }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Creation Date</th>
                        <td>{{> datetime creationDate }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Modified Date</th>
                        <td>{{> datetime lastModifiedDate }}</td>
                    </tr>
                </tbody>
            </table>
        </section>

        {{#if keyImages}}
            <section>
                <h2>Images</h2>

                {{#each keyImages}}
                    <img
                            src="{{ url }}"
                            width="{{ width }}"
                            height="{{ height }}"
                            alt="Image type '{{ type }}' for the item '{{ ../title }}'">
                {{/each}}
            </section>
        {{/if}}
    </main>
{{/with}}

{{> footer }}
</body>
</html>
