<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
{{#with data}}
    <h1>URL Slug: <a href="https://store.epicgames.com/en-US/p/{{ urlSlug }}">{{ urlSlug }}</a></h1>

    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Categories</th>
            </tr>
        </thead>
        <tbody>
        {{#each items}}
            <tr>
                <td><a href="{{ id }}.html">{{ id }}</a></td>
                <td>{{ title }}</td>
                <td>{{ categories }}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/with}}
</body>
</html>
