<!doctype html>
<html lang="en">
{{> header }}
<body>

<main>
    <h1>Namespaces</h1>

    <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">URL Slug</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr>
                <td><a href="{{ ../siteData.baseURL }}/namespaces/{{ @key }}/index.html">{{ @key }}</a></td>
                <td><a href="https://store.epicgames.com/en-US/p/{{ . }}">{{ . }}</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</main>

{{> footer }}
</body>
</html>
