<!doctype html>
<html lang="en">
<head>
    {{#> header }}
    <title>{{ siteData.baseTitle }}</title>
    <meta name="description" content="Unofficial database of the Epic Games Store.">
    {{/header}}
</head>
<body>
    <ul>
    {{#each data}}
        <li><a href="{{ ../siteData.baseURL }}/namespaces/{{ @key }}/index.html">{{@key}}</a> ({{ . }})</li>
    {{/each}}
    </ul>
{{> footer }}
</body>
</html>
